extends layout

block content
    h2.page-header 修改密码
    if errors
        each error in errors
            .alert.alert-danger.alert-dismissible(role='alert')
                button.close(type='button', data-dismiss='alert')
                    span(aria-hidden='true') ×
                    span.sr-only Close
                strong=error.msg
    form.vertical-form(method="post", action='/dashboard/password')
        div.form-group
            label 新密码
            input.form-control(name="password", type='password', required='', placeholder="请输入新密码...")
        div.form-group
            label 重复新密码
            input.form-control(name="confirm", type='password', required='', placeholder="重复新密码")
        button.btn.btn-primary(type="submit") 确认
